---
packages:
  common: !include common.yaml

esphome:
  name: ${device_name}
  comment: ${device_description}
  platform: ESP8266
  board: d1_mini

captive_portal:

# Enable logging
logger:

web_server:
  port: 80

syslog:
  ip_address: 172.24.32.13
  port: 515

output:
  # Register the blue LED as a dimmable output ....
  - platform: esp8266_pwm
    id: blue_led
    pin: D4
    inverted: true

e131:
  method: multicast  # default: register E1.31 to Multicast group

wled:

light:
  # ... and then make a light out of it.
  - platform: monochromatic
    name: "${friendly_name} Blue LED"
    id: blue_led_light
    output: blue_led
  - platform: neopixelbus
    variant: 800KBPS
    type: GRB
    pin: GPIO3
    num_leds: 12
    name: "${friendly_name} Ring"
    effects:
      - e131:
          universe: 1
          channels: RGB
      - wled:
      - strobe:
      - flicker:
      - pulse:
      - pulse:
          name: "Fast Pulse"
          transition_length: 0.5s
          update_interval: 0.5s
      - pulse:
          name: "Slow Pulse"
          # transition_length: 1s      # defaults to 1s
          update_interval: 2s
      - addressable_rainbow:
      - addressable_color_wipe:
      - addressable_scan:
      - addressable_twinkle:
      - addressable_random_twinkle:
      - addressable_fireworks:
      - addressable_flicker:

# Blink the light if we aren't connected to WiFi.
interval:
  - interval: 500ms
    then:
      - if:
          condition:
            not:
              wifi.connected:
          then:
            - light.turn_on:
                id: blue_led_light
                brightness: 50%
                transition_length: 0s
            - delay: 250ms
            - light.turn_off:
                id: blue_led_light
                transition_length: 250ms
