---
packages:
  common: !include common.yaml

esphome:
  name: ${device_name}
  comment: ${device_description}
  platform: ESP8266
  board: esp01_1m

captive_portal:

# Enable logging
logger:

web_server:

syslog:
  ip_address: 172.24.32.13
  port: 515

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: true
    name: "${friendly_name} Touchpad 1"
    on_multi_click:
      # triple click
      - timing:
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send double click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 1 triple click
                      device_name: ${device_name}_touchpad_1
                      click_type: triple
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_1
      # double click
      - timing:
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send double click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 1 double click
                      device_name: ${device_name}_touchpad_1
                      click_type: double
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_1
      # long click
      - timing:
          - ON for at least 1.5s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send long click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 1 long click
                      device_name: ${device_name}_touchpad_1
                      click_type: long
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_1
      # single click
      - timing:
          - ON for at most 1s
          - OFF for at least 0.5s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send single click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 1 short click
                      device_name: ${device_name}_touchpad_1
                      click_type: single
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_1
    internal: true
    id: button_input_1
  - platform: gpio
    pin:
      number: GPIO9
      mode: INPUT_PULLUP
      inverted: true
    name: "${friendly_name} Touchpad 2"
    on_multi_click:
      # triple click
      - timing:
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send double click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 2 triple click
                      device_name: ${device_name}_touchpad_2
                      click_type: triple
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_2
      # double click
      - timing:
          - ON for at most 1s
          - OFF for at most 1s
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send double click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 2 double click
                      device_name: ${device_name}_touchpad_2
                      click_type: double
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_2
      # long click
      - timing:
          - ON for at least 1.5s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send long click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 2 long click
                      device_name: ${device_name}_touchpad_2
                      click_type: long
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_2
      # single click
      - timing:
          - ON for at most 1s
          - OFF for at least 0.5s
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
              # send single click event in case wifi and api are conncected
              then:
                - homeassistant.event:
                    event: esphome.button_pressed
                    data:
                      title: ${friendly_name} touchpad 2 short click
                      device_name: ${device_name}_touchpad_2
                      click_type: single
              # toggle relay in case either wifi or api are not connected
              else:
                - switch.toggle: sonoff_touch_relay_2
    internal: true
    id: button_input_2

switch:
  - platform: gpio
    id: sonoff_touch_relay_1
    name: "${friendly_name} Relay 1"
    pin: GPIO12
  - platform: gpio
    id: sonoff_touch_relay_2
    name: "${friendly_name} Relay 2"
    pin: GPIO5

output:
  # Register the blue LED as a dimmable output ....
  - platform: esp8266_pwm
    id: blue_led
    pin: GPIO13
    inverted: true

light:
  # ... and then make a light out of it.
  - platform: monochromatic
    name: "${friendly_name} Blue LED"
    id: blue_led_light
    output: blue_led

# Blink the light if we aren't connected to WiFi.
interval:
  - interval: 500ms
    then:
      - if:
          condition:
            not:
              wifi.connected:
          then:
            - light.turn_on:
                id: blue_led_light
                brightness: 50%
                transition_length: 0s
            - delay: 250ms
            - light.turn_off:
                id: blue_led_light
                transition_length: 250ms
