packages:
  common: !include common/common.yaml

substitutions:
  device_name: hot_tank_sensor
  device_description: Hot Water Tank Sensor
  friendly_name: Hot Water Tank Sensor

esphome:
  name: ${device_name}
  comment: ${device_description}
  platform: ESP8266
  board: d1_mini

# Enable logging
logger:

web_server:

dallas:
  - pin: GPIO2

sensor:
  - platform: dallas
    address: 0xFC00000409F3B028
    name: "Hot Tank Temperature"

output:
  # Register the blue LED as a dimmable output ....
  - platform: esp8266_pwm
    id: blue_led
    pin: D4
    inverted: true

light:
  # ... and then make a light out of it.
  - platform: monochromatic
    name: "Wemos Blue LED"
    output: blue_led
