packages:
  common: !include common/common.yaml

substitutions:
  device_name: kitchen_sensor
  device_description: Kitchen Sensor
  friendly_name: Kitchen Sensor

esphome:
  name: ${device_name}
  comment: ${device_description}
  platform: ESP8266
  board: d1_mini

# Enable logging
logger:

web_server:

dallas:
  - pin: GPIO2

sensor:
  - platform: dallas
    address: 0x490000031D4F3C28
    name: "Kitchen Temperature"
  - platform: dallas
    address: 0xF10000031DBFDD28
    name: "Freezer Temperature"
  - platform: dallas
    address: 0x620000040DD4C828
    name: "Fridge Temperature"

output:
  # Register the blue LED as a dimmable output ....
  - platform: esp8266_pwm
    id: blue_led
    pin: D4
    inverted: True

light:
  # ... and then make a light out of it.
  - platform: monochromatic
    name: "Wemos Blue LED"
    output: blue_led
