---
name: ESPHome

## This workflow exists to keep branch protection happy in the event of no changes being made to the esphome directory.

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths-ignore:
      - 'esphome/**'
      - '.github/workflows/esphome**'
  push:
    branches: [main]
    paths-ignore:
      - 'esphome/**'
      - '.github/workflows/esphome**'
  schedule:
    - cron: 0 12 * * *

jobs:
  # This is used by branch protections
  final:
    name: Final ESPHome check
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'
