---
name: Home Assistant

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
  schedule:
    - cron: 0 12 * * *

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Getting your configuration from GitHub
        uses: actions/checkout@v1
      - name: Running YAMLlint
        uses: ibiqlik/action-yamllint@v1
        continue-on-error: false
        with:
          config_file: .github/yamllint-config.yml
  remarklint:
    runs-on: ubuntu-latest
    steps:
      - name: Getting your configuration from GitHub
        uses: actions/checkout@v1
      - name: Running Remark lint
        uses: "docker://pipelinecomponents/remark-lint:latest"
        continue-on-error: false
        with:
          args: "remark --no-stdout --color --frail --use preset-lint-recommended ."
  home_assistant_stable:
    runs-on: ubuntu-latest
    needs: [yamllint, remarklint]
    steps:
      - name: Getting your configuration from GitHub
        uses: actions/checkout@v1
      - name: Copy stub files into configuration folder
        run: |
          cp -R travis_secrets.yaml secrets.yaml
          sudo mkdir -p /github/workspace/tmp
          sudo touch fullchain.pem
          sudo touch privkey.pem
      - name: Home Assistant Version
        uses: "docker://homeassistant/home-assistant:stable"
        with:
          args: |
            python -m homeassistant --version
      - name: Home Assistant Check
        uses: "docker://homeassistant/home-assistant:stable"
        with:
          args: python -m homeassistant --config  ./ --script check_config --info all
  home_assistant_beta:
    runs-on: ubuntu-latest
    needs: [yamllint, remarklint]
    steps:
      - name: Getting your configuration from GitHub
        uses: actions/checkout@v1
      - name: Copy stub files into configuration folder
        run: |
          cp -R travis_secrets.yaml secrets.yaml
          sudo mkdir -p /github/workspace/tmp
          sudo touch fullchain.pem
          sudo touch privkey.pem
      - name: Home Assistant Version
        uses: "docker://homeassistant/home-assistant:beta"
        with:
          args: |
            python -m homeassistant --version
      - name: Home Assistant Check
        uses: "docker://homeassistant/home-assistant:beta"
        with:
          args: python -m homeassistant --config ./ --script check_config --info all
  home_assistant_rc:
    runs-on: ubuntu-latest
    needs: [yamllint, remarklint]
    steps:
      - name: Getting your configuration from GitHub
        uses: actions/checkout@v1
      - name: Copy stub files into configuration folder
        run: |
          cp -R travis_secrets.yaml secrets.yaml
          sudo mkdir -p /github/workspace/tmp
          sudo touch fullchain.pem
          sudo touch privkey.pem
      - name: Home Assistant Version
        uses: "docker://homeassistant/home-assistant:rc"
        with:
          args: |
            python -m homeassistant --version
      - name: Home Assistant Check
        uses: "docker://homeassistant/home-assistant:rc"
        with:
          args: python -m homeassistant --config ./ --script check_config --info all
